{% extends 'base.html' %}
{% block title %}Mice Breading Tracker Home{% endblock %}

{% block body %}
  <h1>MiceTrack</h1>

  <form action="/track-mice" method="POST">

    <!-- femalemice -->
    <h2>Female mice info</h2>
    <label for="mating-date">Mating date</label>
    <input type="date" id="mating-date" name="mating-date"><br>

    <label for="days-in-breeding">Days in breeding</label>
    <input type="text" id="days-in-breeding" name="days-in-breeding" value=""><br>

    <label for="need-check-pregnancy">Need to check pregnancy?</label>
    <input type="checkbox" id="need-check-pregnancy" name="need-check-pregnancy"><br>

    <label for="check-if-pregnant">Check if pregnant</label>
    <input type="checkbox" id="check-if-pregnant" name="check-if-pregnant"><br>

    <h2>Pups info</h2>

    <label for="pups-stain">Pups stain</label>
    <select name="pups-stain" id="pups-stain">
      <option value="WT">WT</option>
    </select> 
    <!-- add new WEAN -->
    <!-- <input type="submit" value="Add new" /><br> --><br>

    <label for="date-of-birth">Date of birth</label>
    <input type="date" id="date-of-birth" name="date-of-birth"><br>

    <label for="days-old">Days old</label>
    <span id="days-old">123</span><br>

    <label for="wean-date">WEAN date</label>
    <span id="wean-date">11-09-2020</span><br>

    <label for="need-to-id">Need to id</label>
    <input type="checkbox" id="need-to-id" name="need-to-id"><br>

    <input type="submit" value="Create" />

  </form>

{% endblock %}
